title= info.title + info.description
meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
meta(name='theme-color' content='#ff4281')
meta(name='description' content='my amazing website')
meta(property='og:title' content="zeriax's internet corner")
meta(property='og:type' content='website')
meta(property='og:url' content='https://zeriax.com')
meta(property='og:image' content='logo.png')
meta(property='og:description' content='my amazing website')
meta(name='twitter:card' content='summary')
meta(name='twitter:title' content="zeriax's internet corner")
meta(name='twitter:description' content='my amazing website (pretty boring)')
link(rel='apple-touch-icon' href='logo.png')