div(class="container") 
  div(class="navbar")
    div(class="navleft terminal-prompt")
      a(href="/")=info.title 
    div()
      a(class="switch" href="/about.html") about/
      a(class="switch" href="/blog.html") blog/
      a(class="switch" href="/") ~/